include ../mixins/sub-menu.pug

header 
    .header 
        .container
            .row.align-items-center 
                .col-3 
                    .inner-logo 
                        a(href='/')
                            img(src='/images/logo.svg', alt="Logo")
                .col-5 
                    form(
                        action="/search"
                        method="GET"
                    )
                        div(class="form-group d-flex mb-0")
                            input(
                                type="text"
                                placeholder="Search..."
                                class="form-control"
                                name="keyword"
                                value=keyword
                            )
                            button(
                                type="submit"
                                class="btn btn-primary"
                            ) Find 
                .col-4  
                    .inner-menu 
                        ul 
                            li 
                                a(href='/') Home page 
                            li(class="sub-menu")
                                -const pathProduct = "/products";
                                a(href='/products') Products List 
                                    +sub-menu(layoutProductsCategory, pathProduct)  
                            li 
                                a(href="/cart" class="cart-link")
                                    | Cart(#{miniCart ? miniCart.totalQuantity : 0})
                            li 
                                a(href="/user/register") Sign up 
                                //- a(href="/user/login") Login

                                
                                
                            