extend ../../layouts/default.pug
include ../../mixin/alert.pug 


block main
    if (role.decentralization.includes ("decentralization_view"))
        +alert-success(5000)
        h1(class="mb-4") Decentralization
        if(records)
            div(data-records=records)
            div(class="text-right")
                if (role.decentralization.includes ("decentralization_edit"))
                    button(
                        type="submit"
                        class="btn btn-primary mb-3"
                        button-submit 
                    ) Update

            table(
                class="table table-hover table-sm"
                table-decentralization 
            )
                thead 
                    tr 
                        th Feature
                        each item in records
                            th(class="text-center") #{item.title}
                tbody
                    tr(data-name="id" class="d-none")
                        td 
                        each item in records 
                            td(class="text-center")
                                input(type="text" value=item.id)
                    //- Danh muc san pham 
                    tr  
                        td(colspan="4")
                            b Product Category 
                    tr(data-name="product-category_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="product-category_create")
                        td Add new 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="product-category_edit")
                        td Edit 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="product-category_delete")
                        td Delete  
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")

                    //- san pham 
                    tr  
                        td(colspan="4")
                            b Product 
                    tr(data-name="product_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="product_create")
                        td Add new 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="product_edit")
                        td Edit 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="product_delete")
                        td Delete  
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")

                    //- nhom quyen 
                    tr  
                        td(colspan="4")
                            b Permission
                    tr(data-name="roles_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="roles_create")
                        td Add new 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="roles_edit")
                        td Edit 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="roles_delete")
                        td Delete  
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    
                    //- Danh sach tk 
                    tr  
                        td(colspan="4")
                            b Accounts 
                    tr(data-name="accounts_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="accounts_create")
                        td Add new 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="accounts_edit")
                        td Edit 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="accounts_delete")
                        td Delete  
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    
                    //- Danh sach client
                    tr  
                        td(colspan="4")
                            b Account Clients
                    tr(data-name="account-clients_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="account-clients_create")
                        td Add new 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="account-clients_edit")
                        td Edit 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="account-clients_delete")
                        td Delete  
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")

                    //- phan quyen 
                    tr  
                        td(colspan="4")
                            b Decentralization
                    tr(data-name="decentralization_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="decentralization_create")
                        td Add new 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="decentralization_edit")
                        td Edit 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="decentralization_delete")
                        td Delete  
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
        form(
            id="form-change-decentralization"
            method="POST"
            action=`${prefixAdmin}/roles/decentralization?_method=PATCH`
            class="d-none"
        )   
            div(class="form-group")
                input(
                    type="text",
                    class="form-control"
                    name="decentralization"
                )
        script(src="/admin/js/roles.js") 