extend ../../layouts/default.pug 
include ../../mixin/alert.pug

block main 
    +alert-error(5000)
    +alert-success(5000)
    h1(class="mb-4") Edit permission
    
    form(
        action=`${prefixAdmin}/roles/edit/${records.id}?_method=PATCH`
        method="POST"
    )

        div(class="from-group")
            label(for="title") Title
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                value=records.title
            )
        div(class="from-group")
            label(for="desc") Description
            input(
                type="text"
                class="form-control"
                id="desc"
                name="description" 
                value=records.description
            )
        div(class="from-group")
            button(
                type="Submit"
                class="btn btn-primary"
            ) Update

