extends ../../layouts/default.pug
include ../../mixin/search.pug
include ../../mixin/alert.pug
include ../../mixin/filter-status.pug
include ../../mixin/pagination.pug
include ../../mixin/table-tree.pug
block main
    if (role.decentralization.includes ("product-category_view"))
        +alert-success(5000)
        h1 Products Category   
        .card.mb-3 
            .card-header FilterAndSearch
                .card-body 
                    .row 
                        .col-6
                            //- +filter-status(filterStatus)
                        .col-6
                            +search(keyword)
        .card.mb-3 
            .card-header List 
                .card-body 
                    .row
                        .col-8 
                        .col-4
                            if (role.decentralization.includes ("product-category_create"))
                                a(
                                    href=`${prefixAdmin}/products-category/create`
                                    class="btn btn-outline-success"
                                ) + Add New
                    table(
                        class="table table-hover table-sm"
                        checkbox-multi 
                    )
                        thead 
                            tr
                                th  
                                    input(type="checkbox" name="checkall")
                                th STT 
                                th Image 
                                th Title
                                th Position
                                th Status
                                th Creator
                                th Action
                        
                        tbody 
                            +table-tree(records, accounts)
        +pagination(pagination)

        
        form(
            action="",
            method="POST",
            id="form-change-status",
            data-path=`${prefixAdmin}/products-category/change-status`
        )

        form(
            action="",
            method="POST",
            id="form-delete-item",
            data-path=`${prefixAdmin}/products-category/delete`
        )
        script(src="/admin/js/product.js")
    else 
        h1 404  